.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 80px;
  background: #fefefe;
}

.hero-text {
  max-width: 50%;
}

.hero-text h2 {
  font-size: 2.4rem;
  margin-bottom: 10px;
  color: #333;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #555;
}

.btn-hero {
  display: inline-block;
  padding: 12px 20px;
  background-color: #e74c3c;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: .3s;
}

.btn-hero:hover {
  background-color: #c0392b;
}

.hero-image img {
  width: 360px;
  height: auto;
}
